


.box{
    position: relative;
    /* top: 20px; */
    /* bottom: 30px; */
    width: 500px;
    height: 500px;
    border: 5px solid black;
    margin: 20px auto;
}

.item1, .item2{
    
    width: 150px;
    height: 150px;
}

.item1{
    background: black;
    position: relative;
    top: 300px;
    left:20px;
}

.item2{
    background: rebeccapurple;
    position: fixed;
    bottom:0px
}